#root {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  width: 100%;
  height: 100%;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
